*{
    padding: 0;
    margin: 0;
}


.contenedor .header{
    background: #4fa8fb;
    color: #fff;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header */

.links a{
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    padding: 20px;
    
}

.header .logo{
    display: flex;
    align-items: center;
    font-size: 45px;
    flex-wrap: wrap;
}

.logo img{
    height: 200px;
    width: 200px;
    margin: 20px;
    margin-left: 50px;
}

.barra-booststrap{
    background-color: #4fa8fb;
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 4px;
    
}
.barra-booststrap nav a{
    color: white;
}

.columnas{
    display: flex;
    justify-content: center;
    height: 500px;
    margin: 5px 0 10px 0;
    
}

.row{
    /* margin-top: 40px; */
    margin-left: 20px;
    margin-right: 20px;
    height: 400px auto;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom:  10px;
}

.row div{
    border: 1px solid black;
    text-align: center;
}

div img{
    height: 100px;
    width: 100px;
    margin: 20px;

}

/* FOOTER */

footer{
    width: 100%;
    padding: 50px 0px;
    background-color: #4fa8fb;
    background-size: cover;
    grid-area: footer;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;

}
.box__footer .logo__footer img{
    width: 300px;    
    height: 300px;
}

.box__footer .terminos{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.5;
}

.box-copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box-copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box-copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

.box__footer h2{
    font-size: 30px;
}


/* CONTACTO
 */

.formulario{
    display: flex;
    flex-direction: column;
    margin: 40px 80px;
    justify-content: center;
    padding: 90px;
}
.formulario .col-12{
    margin-top: 20px;
}

/* NOVEDADES */

.fila .col-sm-6{
    margin-top: 50px;
    height: 400px;
    border: none;
}

/* PRODUCTOS */

.tablero{
    margin: 50px 50px;
    height: 400px;
}